* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.drumImg {
  width: 100px;
  height: 100px;
}

.pressed {
  background-color: aqua;
}

#drumset {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.drum {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rebinding {
  background-color: green;
}
